In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('agora.csv')

In [16]:
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0        114523.61       136897.80  471784.10    Dhaka  192261.83
1        162597.70       151377.59  443898.53      Ctg  191792.06
2        153441.51       101145.55  407934.54  Rangpur  191050.39
3        144372.41       118671.85  383199.62    Dhaka  182901.99
4        142107.34        91391.77  366168.42  Rangpur  166187.94

In [10]:
df.isnull().sum()

Marketing Spend    0
Administration     0
Transport          1
Area               0
Profit             0
dtype: int64

In [11]:
#handling Nul value
mean = df.Transport.mean()
median = df.Transport.median()

In [12]:
mean

215331.7324489796

In [13]:
median

214634.81

In [14]:
df.Transport = df.Transport.fillna(median)#filling null value
# df['Transport'] = df['Transport'].fillna(medianian)

In [15]:
df.isnull().sum()

Marketing Spend    0
Administration     0
Transport          0
Area               0
Profit             0
dtype: int64

# Encoding Manually

In [17]:
df.Area.unique()

array(['Dhaka', 'Ctg', 'Rangpur'], dtype=object)

In [18]:
df.Area = df.Area.replace(['Dhaka', 'Ctg', 'Rangpur'],[3,1,2])

In [20]:
df.head()

   Marketing Spend  Administration  Transport  Area     Profit
0        114523.61       136897.80  471784.10     3  192261.83
1        162597.70       151377.59  443898.53     1  191792.06
2        153441.51       101145.55  407934.54     2  191050.39
3        144372.41       118671.85  383199.62     3  182901.99
4        142107.34        91391.77  366168.42     2  166187.94

# Label Encoding

In [21]:
from sklearn.preprocessing import LabelEncoder

In [23]:
label = LabelEncoder()